{% extends 'base.html.twig' %}


{% block title %}Sorties |{{ parent() }}{% endblock %}


{% block body %}
    {{ form_start(sortiesFiltreesForm) }}
    <button type="submit" value="Rechercher">Rechercher</button>
    {{ form_end(sortiesFiltreesForm)}}
    <h1>Liste des Sorties</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Date de la sortie</th>
            <th>Duree</th>
            <th>Clôture</th>
            <th>Inscrits/Places</th>
            <th>Etat</th>
            <th>Organisateur</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d-m-Y H:i') : '' }}</td>
                <td>{{ sortie.duree ? sortie.duree|date('H:i') : '' }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d-m-Y') : '' }}</td>
                <td>{{ sortie.participants | length }}/{{ sortie.nbIscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>
                    <a href="{{ path('details_profil', {'id': sortie.organisateurs.id}) }}">
                        {{ sortie.organisateurs.prenom }}</a></td>
                <td>
                    <a href="{{ path('details-sortie', {'id': sortie.id}) }}">Détails</a>
                    {% if sortie.organisateurs.id == app.user.id %}
                        <a href="{{ path('editer-sortie', {'id': sortie.id}) }}">Modifier</a>
                        <a href="{{ path('annuler-sortie', {'id': sortie.id}) }}">Annuler</a>
                    {% endif %}
                    {% if sortie.etat.libelle == 'Ouverte' %}
                        {% if app.user in sortie.participants %}
                            <a href="{{ path('inscription_desinscription', {'id': sortie.id, action: 'desinscription'}) }}">Se
                                désinscrire</a>
                        {% elseif (app.user != sortie.organisateurs and app.user not in sortie.participants) %}
                            <a href="{{ path('inscription_desinscription', {'id': sortie.id, action:'inscription'}) }}">S'inscrire</a>
                        {% endif %}
                    {% endif %}


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">pas de sortie trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('nouvelle-sortie') }}">
        <button>Créer une nouvelle sortie</button>
    </a>
{% endblock %}
