{% extends 'base.html.twig' %}


{% block title %}Sorties |{{parent()}}{% endblock %}


{% block body %}

    <h1>Sortie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de la sortie</th>
                <th>Duree</th>
                <th>Clôture</th>
                <th>Inscrits/Places</th>
                <th>Etat</th>
                <th>InfosSortie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d-m-Y H:i') : '' }}</td>
                <td>{{ sortie.duree ? sortie.duree|date('H:i') : '' }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d-m-Y') : '' }}</td>
                <td>{{ sortie.nbIscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle}}</td>
                <td>{{ sortie.infosSortie }}</td>
                <td>
                    <a href="{{ path('details-sortie', {'id': sortie.id}) }}">Détails</a>
                    <a href="{{ path('editer-sortie', {'id': sortie.id}) }}">Modifier</a>
                    {#<a href="{{ path('inscription-sortie', {'id': sortie.id}) }}">S'inscrire</a>
                    <a href="{{ path('desinscription-sortie', {'id': sortie.id}) }}">Se désinscrire</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">pas de sortie trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('nouvelle-sortie') }}"><button>Créer une nouvelle sortie</button></a>
{% endblock %}
