<nav class="navbar">
    <div class="entete">
        <a href="{{ path('liste-sorties') }}">
            <h1><img src="{{ asset('img/favicon.png') }}" alt="SortirDNX logo">Sortir DNX !</h1>
        </a>

    </div>

    {% if app.user %}

        <div class="navbar-menu">

        <div class="navbar-item">
            <a href="{{ path('liste-sorties') }}" title="Home">Liste</a>
            <a href="{{ path('details_profil', {'id': app.user.id}) }}" title="monProfil">Mon profil</a>
            <a href="{{ path('app_logout') }}" title="deconnexion">Se déconnecter ({{ app.user.prenom}})</a>
        </div>
            {#{% if is_granted("ROLE_ADMIN") %}
            <li><a href="{{ path('')}}" title="ajouterVille">Ajouter Ville</a></li>
            <li><a href="{{ path('')}}" title="ajouterCampus">Ajouter Campus</a></li>
            {% endif %}#}
        </div>

    {% endif %}
</nav>