<nav class="navbar">
    <div class="entete">
    <h1>
        <img src="{{ asset('img/favicon.png') }}" alt="SortirDNX logo">
        Sortir DNX !
    </h1>
    </div>

    {% if app.user %}

        <ul class="navbar-menu">
            <li class="navbar-item"><a href="{{ path('liste-sorties') }}" title="Home" class="navbar-link">Liste</a></li>
            <li class="navbar-item"><a href="{{ path('details_profil', {'id': app.user.id}) }}" title="monProfil" class="navbar-link">Mon profil</a></li>
            <li class="navbar-item"><a href="{{ path('app_logout') }}" title="deconnexion" class="navbar-link">Se déconnecter ({{ app.user.prenom}})</a></li>
{#{% if is_granted("ROLE_ADMIN") %}
            <li><a href="{{ path('')}}" title="ajouterVille">Ajouter Ville</a></li>
            <li><a href="{{ path('')}}" title="ajouterCampus">Ajouter Campus</a></li>
            {% endif %}#}
        </ul>

    {% endif %}
</nav>