{% extends 'base.html.twig' %}

{% block title %}Modifier le Profil{% endblock %}

{% block body %}
    <h1>Modifier le profil</h1>

    <div class="avatar">
        {% if user.photo != null %}
            <img src="{{ asset('uploads/photos/' ~ user.photo)}}">
        {% else%}
            <img src="{{ asset('uploads/photos/chien-rire.gif')}}">
        {% endif %}
    </div>
    {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    {% if is_granted("ROLE_ADMIN") %}
    <button><a href="{{ path('admin_liste_users') }}">Retour à la liste des utilisateurs</a></button>

    {{ include('user/_delete_form.html.twig') }}
         {% endif %}
    <button><a href="{{ path('details_profil', {'id': app.user.id}) }}">Retour</a></button>
{% endblock %}
