{% extends 'base.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des Utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>

                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Administrateur</th>
                <th>Actif</th>
                <th>Pseudo</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>

                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.administrateur ? 'Yes' : 'No' }}</td>
                <td>{{ user.actif ? 'Yes' : 'No' }}</td>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.photo }}</td>
                <td>
            <button><a href="{{ path('details_profil', {'id': user.id}) }}">show</a></button>
                    {% if app.user.id == user.id %}
                        <button><a href="{{ path('editer_profil', {'id': user.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <button><a href="{{ path('app_register') }}">Créer un nouvel utilisateur</a></button>
{% endblock %}
