{% extends 'base.html.twig' %}

{% block title %}Profil | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Profil {{ user.nom}}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Pseudo</th>
            <td>{{ user.pseudo }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ user.nom }}</td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td>{{ user.prenom }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Telephone</th>
            <td>{{ user.telephone }}</td>
        </tr>
        <tr>
            <th>Photo</th>
            <td>{{ user.photo }}</td>
        </tr>

        {% if is_granted("ROLE_ADMIN") %}
        <tr>

            <th>Roles</th>
            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
        </tr>
        <tr>
            <th>Administrateur</th>
            <td>{{ user.administrateur ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>Actif</th>
            <td>{{ user.actif ? 'Yes' : 'No' }}</td>
        </tr>
        {% endif%}

        </tbody>
    </table>


        <a href="{{ path('liste-sorties') }}">Retour à la liste des sorties</a>
    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('admin_liste_users') }}">Retour liste des Users</a>
    {{ include('user/_delete_form.html.twig') }}
    {% endif %}
    {% if app.user.id == user.id %}
    <a href="{{ path('editer_profil', {'id': user.id}) }}">edit</a>
    {% endif %}

{% endblock %}
